body {

    background: linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb);


}

.game--title {
    font-size: 70px;
    color: #000000;
    text-shadow: 2px 2px 3px #e22b77;
    position: relative;
    top: -40px;
    left: 600px;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 506px;
    height: 430px;
    margin: 10px auto;
    background-color: #36113a;
    color: #f06ad3;
    position: relative;
    top: -50px;
    left: 0px;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 160px;
    height: 140px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 150px;
    font-size: 140px;
}

.game--status {
    font-size: 50px;
    color: #efefef;
    text-shadow: 2px 2px 3px #e22b77;
    margin: 20px auto;
    position: absolute;
    left: 600px;
    top: 300px;
}

.button {
    background-color: #000000;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #ffffff;
    box-shadow: 2px 2px 2px 1px #e22b77;
    border: 2px solid #e22b77;
    position: relative;
    left: 660px;
    top: 0px;
}

@media screen and (min-width: 1880px){
    .game--title {
        font-size: 70px;
        color: #000000;
        text-shadow: 2px 2px 3px #e22b77;
        position: relative;
        top: 1px;
        left: 800px;
    }
    
    .game--container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 506px;
        height: 500px;
        margin: 10px auto;
        background-color: #36113a;
        color: #f06ad3;
    }
    
    .cell {
        font-family: "Permanent Marker", cursive;
        width: 160px;
        height: 160px;
        box-shadow: 2px 2px 2px 2px #ecd7ba;
        border: 2px solid #ecd7ba;
        cursor: pointer;
        line-height: 150px;
        font-size: 140px;
    }
    
    .game--status {
        font-size: 50px;
        color: #ffffff;
        text-shadow: 2px 2px 3px #e22b77;
        margin: 20px auto;
        position: absolute;
        left: 800px;
        top: 390px;
    }
    
    .button {
        background-color: #000000;
        width: 200px;
        height: 50px;
        font-size: 25px;
        color: #ffffff;
        box-shadow: 2px 2px 2px 1px #e22b77;
        border: 2px solid #e22b77;
        position: relative;
        left: 850px;
        top: 50px;
    }

}
